.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6E260E;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  color: #6E260E;
  text-align: center;
  margin: 30px 0 0 0;
}

.cartItem {
  height: fit-content;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  width: 166px;
  height: 180px;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.cartItem .description {
  width: 200px;
  font-size: 20px;
  padding: 10px;

}

.subtotal {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    color: #333;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #6E260E;
}

/* Responsive styles */
@media (max-width: 768px) {
  .cart {
    justify-content: space-evenly;
  }

  .cartItem {
    flex-direction: column;
  }

  .cartItem img {
    height: 50%;
    width: 220px;
    border-radius: 15px 15px 0px 0px;
  }

  .cartItem .description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heading {
    font-size: 24px; 
  }

}