.bakeryTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    color: #6E260E;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin: 15px;
  }
  
  .product {
    border-radius: 15px;
    width: calc(33.33% - 50px);
    max-width: 350px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
  
  .product img {
    width: 100%; 
    max-height: 200px; 
    object-fit: cover; 
    border-radius: 15px 15px 0 0; 
  }
  
  .product .description {
    text-align: center;
    padding: 10px; 
  }
  
  .product:hover {
    transform: scale(1.05); 
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .price {
    color: darkgreen;
    font-weight: bold;
  }

  .addToCartBttn {
    background-color: transparent;
    border: 2px solid #CD7F32;
    color: #CD7F32;
    min-width: 100px;
    padding: 5px 10px; 
    border-radius: 15px;
    margin-top: 10px; 
    margin-bottom: 15px;
  }
  
  .addToCartBttn:hover {
    background-color: #CD7F32;
    color: white;
    cursor: pointer;
  }
  
  /* Media query for responsive layout */
  @media (max-width: 768px) {
    .product {
      width: 500px; 
    }
    .bakeryTitle{
      font-size: 120%;
    }
  }